/* ---------------

            CRAETED BYE NEGAR GOLZAR

 */

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
@font-face {
	font-family: IRANSansen;
	font-style: normal;
	font-weight: normal;
	src:
		 url('fonts/IRAN Sans Light.ttf') format('truetype');
}


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?51rnb6');
  src:  url('fonts/icomoon.eot?51rnb6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?51rnb6') format('truetype'),
    url('fonts/icomoon.woff?51rnb6') format('woff'),
    url('fonts/icomoon.svg?51rnb6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-briefcase:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-login:before {
  content: "\e904";
}
.icon-logo:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-marker:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-phone:before {
  content: "\e909";
}
.icon-sms:before {
  content: "\e90a";
}

body{
    padding: 0;
    margin: 0;
    font-family: IRANSans;
    background-color: #f0f2f1;
}
a{
    text-decoration: none !important;   
    list-style-type: none;
}
.nopadding{
    padding: 0 !important;
}
.navbar-toggle{
    float: left;
    margin-left:20px;
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #4ecef5 !important;
}

.navbar-link li{
    font-weight: bold;
    float: right !important;
   z-index: 99;
    direction: rtl;
}

.navbar{
  padding: 0;
    background-color:white !important;
    border-radius: 0;
    
}
.navbar-nav>li{
    float: right;
}
.navbar-default .navbar-nav>li>a{
    color:black;
    padding-top: 25px;
}
li.logo {

    margin-top: -14px;
    text-align: center;
    border: none;
}
.navbar-right{
    float: right;
}
.navbar-default{
   background-color: #f1eee7;
    border: none;
}
.navbar-default .navbar-toggle{
    border: none;
    margin-top: 12px;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #f1eee7;
}
.navbar{
    margin-bottom: 0;
}

.navbar-nav{
    margin:0; 
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #f05f44;
}
.navbar-left{
   color: #f05f44;
    font-size: 30px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 30px;
}
.logo-header img{
    width: 50px;
    height: auto;
    float: right;
}

.logo-header{
    width: 80%;
    background-color: #223874;
    height: auto;
    overflow: auto;
    float: right;
    text-align: center;
    margin: 0 auto;
    padding: 20px 40px!important;
    margin-left: 10px;
}
.inter-box{
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: #f2f6f7;
    padding: 15px 5px;
    text-align: center;
    margin: 5px;
    margin-top: 20px;
    
}
.phone-box{
    margin-left: 15px;
}
.phone-icon{
    color: #25aae2;
    background-color: white;
    padding: 8px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}
.logo-title{
    direction: rtl;
    padding: 0;
    margin-top: -40px;
    text-align: right;
    margin-right: -15px;
}
.logo-title h6{
    padding-bottom: 0;
    color: #94d4f0;
}
.logo-title h3{
    color: #223874;
    padding-top: 10px;
}
.banner-box img{
    width: 100%;
    height:auto;
    overflow: auto;
    position: relative;
    
}
.title-banners{
    position: absolute;
    top: 130px;
    right: 0;
    direction: rtl;
    padding: 20px 100px;
    text-align: right;
}
.title-banners h4{
    display: inline-block;
    color: #223874;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
.tx{
    text-align: center;
}
.title-of-info-section h4{
    color: #223874;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    font-weight: bold;
}
 .logo-header:hover{
        background-color: #223874 !important;
    }
.hr-info{
    display: inline-block;
    width: 30px;
    border-bottom: 4px solid #5cbfe9;
    margin-bottom: 50px;
}
.titile-icon-info span{
    color: #4b5d8f;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.titile-icon-info {
    text-align: center;
    margin: 20px 0;
}
.titile-icon-info p{
    margin: 20px auto;
    text-align: center;
}
.main-body-info{
    background-color: white;
    width: 100%;
    height: auto;
    overflow: auto;
    padding-bottom: 30px;
}
.back-box-products{
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: #bfe3f1;
    border-radius: 8px;
    margin: 20px auto;
    position: relative;
}
.box-product{
      width: 95%;
    height: auto;
    overflow: auto;
    background-color: white;
    border-radius: 8px;
    margin-right: -15px;
    float: right;
    padding: 30px;
}
.icon-products{
    width: 40%;
}
.product-title{
    text-align: right;
    direction: rtl;
    line-height: 2.5;
}
.product-title h5{
    font-weight: bold;
    color: #295f8b;
}
.arrow-scrl-box{
     width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #7ecae2;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 50%;
    left: 6.5%;
    z-index: 999;
    font-size: 12px;
}
.arrow-scrl-box a{
    color: white;
    font-size: 10px;
}
.icon-3{
    width: 28%;
}
.box-2{
    background-color: #ffd68e;
}
.box-4{
    background-color: #fec8d6;
}
.box-5{
    background-color: #fad2ad;
}
.box-6{
    background-color: #d7d6ff;
}
.arrow-2{
    background-color: #ffad1d;
    
}
.arrow-4{
    background-color: #ff92af;
}
.arrow-5{
    background-color: #d6af88;
}
.arrow-6{
    background-color: #aeabff;
}
.slider{
    margin: 60px 0;
}
.previous-icon{
        position: absolute;
    top: 15px;
    left: 0;
}
.next-icon{
    position: absolute;
    top: 15px;
    right: 0;
}
.blue-logo-prt{
    height: 840px;
    overflow: auto;
    background-color: #223874;
    text-align: center;
    padding: 10px !important;
}
.blue-logo-prt img{
    width: 100px;
    margin-top: 20%;
}
.gray-text-part{
    padding: 30px!important;
    text-align: right;
    direction: rtl;   
}
.gray-text-part h4{
    margin-bottom: 30px;
}
.text-parts h5{
    font-weight: bold;
    margin-bottom: 20px;
    color:  #223874;
}
.connect-box-info{
    direction: rtl;
    text-align: right;
    background-color: #f2f6f7;
    height: auto;
    overflow: auto;
    padding:40px;
     border-radius: 8px;
}
.text-msg{
    height: 150px;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    outline: none;
    border: none;
    color: black;
}
.usr-name{
        border: none;
    padding: 10px;
    border-radius: 8px;
    color: black;
    margin: 5px;
    width: 100%;
}
.send-btn{
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: black;
    margin: 5px;
    background-color: #25aae2;
    color: white;
}
.markers-icon{
   color: #26a9df;
    font-size: 20px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.tell span{
    direction: rtl;
    text-align: right;
    float: right;
    margin-right: 20px;
}
.tell{
    margin: 25px auto;
}
.add span{
    direction: rtl;
    text-align: right;
    float: right;
    margin-right: 20px;
}
.connect{
    margin-top: 25px;
}
.phone-part-info-box{
    background-color: #f2f6f7;
    height: 220px;
    overflow: auto;
     padding: 20px !important;
    
}
.phone-part-info-btn-box{
    background-color: #dae5e7;
    height: 220px;
    overflow: auto;
    padding: 20px!important;
}
.briefcase-icon{
    font-size: 45px;
    color: #25abe0;
     padding: 20px 0;
}
.phone-part-info-btn h6{
    font-weight: bold;
}
.registre-btn{
        padding: 5px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #25aae2;
    background-color: white;
    margin: 20px auto;
}
.inter-btn{
    color: white;
    background-color:#25aae2;
}
.phone-part-info-btn h5{
    font-weight: bold;
    color: #223874;
    padding-top: 20px;
}
.box-of-insta-post{
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto;
    height: 200px;
    margin: 5px;
    color: white;
    opacity: 1;
    padding: 10px;
    border-radius: 5px;
    margin-top: 40px;

}
.back-box-of-ins{
       background-color: black;
    opacity: 0.7;
    height: 138px;
    padding: 20px 10px;
    direction: rtl;
    text-align: center;
    font-size: 18px;
}
.more-btn{
    margin: 20px auto;
    border: none;
    background-color: #eaf1f3;
    padding: 7px 15px;
    border-radius: 5px;
    outline: none;
    color: #566896;
    
}
.inst-icon{
    color: #d1619b;
    font-size: 16px;
}
.archive-boxes{
    height: auto;
    background-color: white;
    border-left: 1px solid gray;
    padding-bottom: 20px !important;
    overflow: auto;
}
.title-archive-boxes{
    background-color: #bfe3f1;
    height: 50px;
    font-weight: bold;
    text-align: right;
    direction: rtl;
    padding: 15px !important;
    margin-bottom: 20px;
    
}
.archive-link{
    background-color: #849fa8;
    color: white;
       padding: 5px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: normal;
    float: left;
}
.links-archives{
    color: black;
    display: inline-block;
    direction: rtl;
    text-align: right;
    padding: 10px;
    float: right;
}
.title-archive-boxes-2{
    background-color: #f9f2d8;
}
.etemad-logo{
    background-color: #e5edef;
    position: fixed;
    bottom: 0;
    z-index: 99999;
    padding:20px;
    border-radius: 5px;
        
}

.title-of-info-section img{
    width: 150px;
    height: auto;
    margin:10px auto;;
}
.mrg-btn{
    margin-bottom: 5px;
}
.footer{
    background-color: #223874;
    width: 100%;
    height: auto;
    padding: 10px;
    overflow: auto;
    
}
.footer-copyright{
    float: right;
    text-align: center;
    color: white;
    direction: rtl;
    font-size: 11px;
    padding-top: 10px;
}
.footer-logo{
    float: left;
}
.footer-logo img{
    width: 35px;
    height: auto;
}
/*---------------------------------------pages-style---------------------------------*/

.pages-banner{
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 40px;
    background-color: #def1f8;
     position: relative;

}
.pages-baner-tt h5{
    color: #7fc9e2;
    font-weight: bold;
}
.page-banner-button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
     transform: rotate(45deg;);
    background-color: #7ecae2;
    position: absolute;

}
.icon-arrow-button{
        transform: rotate(45deg;);
    color: white;
}
.page-body-text p{
    direction: rtl;
    text-align: right;
    line-height: 2.5;
    padding: 20px;
}
.why-rahkar span{
    font-weight: bold;
    color: #223874;
    font-size: 18px;
    text-align: center;
}
.icons-part-pages-box{
    background-color: #f2f6f7;
    border-radius: 5px;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    overflow: auto;
    margin: 30px auto;
}
.icons-part-pages{
    direction: rtl;
    text-align: right;
}
.icons-part-pages h4{
    color: #223874;
    font-weight: bold;
}
.icons-part-pages p{
    margin: 20px auto;
    line-height: 2.5;
}
.icons-pages-2{
    background-color: white;
    padding: 5px;
    margin: 3px auto;
    border-radius: 8px;
    width: 30px;
}
.icons-pages-2:hover{
    background-color: #d0e6ee;
}
.call-us{
    color: white;
    background-color: #24a9e1;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
}

.call-us-tt{
    color: #223874;
    font-weight: bold;
    margin-bottom: 40px;
}
.call{
   padding-bottom: 30px;
}
.how-it-works-tt h4{
    color: #223874;
    font-weight: bold;
    text-align: right;
    direction: rtl;
}
.link-how-to{
    color: #3a5185;
    background-color: #f2f6f7;
    float: right;
    margin-bottom: 30px;
}
.how-to-img img{
    width: 70%;
    height: auto;
    margin-top: -20px;
    position: absolute;
    top: 90px;
    right: 0;
}
.how-it-works{
    margin: 40px auto;
    height: auto;
    overflow: auto;
    width: 100%;
    text-align: right;
    direction: rtl;
    padding-top: 60px;
}
.ul-li{
    padding-top: 15px;
    list-style: none;
}
.ul-li li:before{
  content: '.';
    color: #25aae3;
    padding: 0 3px;
    font-size: 33px;
    margin: 0;
}
.text-how-it-works{
    overflow: auto;
    height: auto;
}
.text-how-it-works p{
    line-height: 2.5;
}
.page-banner-button{  
    top: 60%;
    left: 50%;
    margin-left: -10px;
    transform: rotate(90deg);
    padding: 9px;
}

.call-us-2 {
    color: #223874;
    background-color: #ffffff;
}

/*---------------------------------------------------article-page--------------------------------------------*/

.back-white-article{
    background-color: white;
    width: 100%;
    height: auto;
    overflow: auto;
}
.article-text-img p{
    text-align: right;
    line-height: 2.5;
    direction: rtl;
    margin: 50px auto 100px auto;
}
.article-text-img img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.article-title-date{
    font-size: 12px;
    padding: 15px;
}
.article-title h4{
    font-weight: bold;
    text-align: center;
}
 .arrow-scrl-box-article {
    top: 93%;
    left: 50%;
    margin-left: -10px;
    transform: rotate(-90deg);
     z-index: 999;
}

/*--------------------------------------blog-page--------------------------------------------------------*/

.blog-banner{
    background-image: url(img/blog.jpg);
    height: 255px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
/*
.blog-background{
     background-color: black;
    width: 100%;
    height: 250px;
    padding: 0;
}
*/

.article-title h3{
    color: white;
    margin-top: 100px;
    padding: 5px;
    border-radius: 5px;
}

.box-of-events-global{
    background-color: #f2f6f7;
    height: auto;
    padding: 10px;
    margin: 30px 0;
    border-radius: 5px;
    margin-top: 185px;
    text-align: center;
}

.box-of-events-global img{
    width: 90%;
    height: auto;
    border-radius: 5px;
    margin-top: -85px;
    text-align: center;
}
.more-event-news-btn {
    text-align: center;
    background-color: white;
    padding: 10px;
    color: #566697;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
    width: 50%;
}
.box-of-events-global-title{
    text-align: center;
    color: #26a8e2;
    font-weight: bold;
    padding: 20px;
}
.box-of-events-global p{
    text-align: center;
    line-height: 2;
    margin: 20px auto;
}
.more-events-btn{
    margin: 60px auto;
    color: #566697;
    background-color: #f2f6f7;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
}
/*
-----------------------------------connect-page-----------------------------------------------------------

*/
.connect-tt{
    padding-top: 20px;
}
.article-title span{
    font-size: 18px;
    color: white;
}
/*
-----------------------------------costumer-page-----------------------------------------------------------

*/

.costumer-banner{
    height: 200px;
    padding: 15px;
    background-image: url(img/wificloob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.img-owl-costumer{
    position: relative;
}
.img-owl-costumer img{
    width: 80%;
    height: auto;
    position: relative;
    top: 150px;
}
.costumer-content-tt h3{
    color: #223872;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    padding-top: 30px;
}
.costumer-content-tt h4{
    padding-top: 150px;
}
.costumer-content-tt a{
    background-color: #f2f6f7;
    color: #73c7eb;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
.costumer-content-p{
    text-align:center;
    line-height: 2;
    direction: rtl;
    display: block;
    margin: 30px auto;
}
.owl-carousel{
    display: block !important;
}
.arrow-scrl-box-costumer{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    left: 50%;
    margin-left: -100px;
    top: 50%;
   position: absolute;
    
}
.costumer-used-prog{
    background-color: #f2f6f7;
    width: 100%;
    height: 500px;
    overflow: auto;
    padding: 50px 10px;
}
.costumer-content-tt h4{
    color: #203972;
}
.arrow-scrl-box-costumer img{
    width: 49%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    display: inherit;
    margin-top: 31px;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
  .owl-carousel.owl-rtl{
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    }

.project-macbook-img img{
    direction: rtl;
    position: absolute;
     top: 203px;
    width: 73%;
    right: 153px;

}
/*-----------------------------------------------------project-page-----------------------------------------*/
.costumer-used-project{
    background-color: white;
    height: auto;
    overflow: auto;
}
.box-of-feat{
    width: 100%;
    height: auto;
    background-color: #f2f6f7;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    direction: rtl;
    line-height: 2;
    padding-bottom: 40px;
    margin: 20px auto;
    
}
.box-of-feat h4{
    color: #24aadf;
    margin-bottom: 20px;
}
.box-of-feat p{
    margin-bottom: 30px;
}
.project-banner{
    background-image: url(img/wificloob.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.project-banner-tt{
    margin-top: 10px;
    color: white;
    font-weight: bold;
}   
.project-banner-tt a{
    color: white;
    background-color:black;
    opacity: 0.6;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block !important;
}
.next-icon-4 {
    display: block;
    font-size: 18px;
    top: -100px;
    right: 115px;
    color: black;
    background-color: #f2f6f7;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
}

.previous-icon-4 {
    display: block;
    font-size: 18px;
    top:  -100px;
    left: 115px;
     color: black;
        background-color: #f2f6f7;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
}
.owl-service-4{
    position: relative;
}

.next-icon-5{
    top: 220px !important;
    right: -10px!important;
}
.previous-icon-5{
    top: 220px !important;
    left: -10px!important;
}
.mobile-back-img img{
    width:90% !important;
}
.next-icon-6{
    top: 300px !important;
    right: -10px!important;
}
.previous-icon-6{
    top: 300px !important;
    left: -10px!important;
}
/*

-----------------------------------------------------------header------------------------------------------
*/


.description {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}


.menu-container {
    width: 80%;
    margin: 0 auto;
    background: white;
      border-radius: 5px;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
      border-radius: 5px;
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
    background:#bfe4f1;
    color: #333;
    border-radius: 5px;
}

.menu > ul {
    margin: 0 auto;
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: right;
    background: white;
    padding: 0;
    margin: 0;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 10px;
    padding-top: 24px;
    display: block;
    color: black;
}

.menu > ul > li:hover {
        background: #bfe4f1;
}
.img-li{
    width: 55% !important;
    position: absolute;
    top: 0;
    left: 0;

}
.img-li img{
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    width: 108px;
        border-right: 2px solid white;
    padding-right: 10px;
}
.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #f0f0f0;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 25%;
    background: none;
    float: right;
}

.menu > ul > li > ul > li a {
    color: #777;
    padding: .2em 0;
    width: 95%;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    float: right;
    direction: rl;
    text-align: right;
    color: black;
        border-bottom: 2px dotted #223874;
    padding-bottom: 5px;
}

.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}

.menu > ul > li > ul.normal-sub {
    width:600px;
    right: auto;
    padding: 10px 20px;
    background-color: #bfe4f1;
    border-radius: 8px 8px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 40%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}
.menu-dropdown-icon:hover{
    background-color: #bfe4f1;
    transition: 2s;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 440px) {
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
            border-bottom: 1px dotted #223874;
         display: inline-block;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
    .menu-dropdown-icon:before{
        display: none !important;
    }
    .menu > ul > li a{
        padding: 10px 30px !important;
    }
}
/*


---------------------------------medias----------------------------------------
*/
@media only screen and (min-width:1020px){
.blue-logo-prt {
    height: 715px;
}
}
@media only screen and (max-width:950px){
    .logo-header{
        padding: 20px!important;
    }
    .logo-header img{
        width: 40px;
    }
    .nav>li>a{
        padding: 10px 5px;
    }
    .phone-box{
        margin-left: 11px;
    }
    .logo-title h6{
        margin-bottom: 5px;
    }
    .title-banners {
    top: 80px;
    right: 0;
    padding: 20px 50px;
 }
    .menu > ul > li a{
        font-size: 12px;
        padding:30px 5px;
    }
  
    .project-macbook-img img{
    direction: rtl;
    position: absolute;
    top: 181px!important;
    width: 73%;
    right: 97px !important;
   }
    .menu > ul > li > ul.normal-sub > li {
    width: 100%;
    }
    .menu > ul > li > ul.normal-sub{
        width: 300px;
    }
}

@media only screen and (max-width:1025px){
    .navbar-default .navbar-nav>li>a{
        font-size: 12px;
    }
    .logo-title h3{
      font-size: 14px;  
    } 
    .logo-title h6{
      font-size: 8px;  
    }
    .inter-box{
        font-size: 11px;
        padding: 11px 5px;
    }
    .logo-title{
        margin-top: -25px;
    }
    .project-macbook-img  img{
    direction: rtl;
    position: absolute;
    top: 193px;
    width: 73%;
    right: 128px;
  }
    .previous-icon-4{
            top: -70px;
    left: 80px;
    }
    .next-icon-4{
    top: -70px;
    right: 80px;
    }
}

    
    
@media only screen and (max-width:480px){
    .box-product{
        width: 100%;
        margin: 0;
    }
    .arrow-scrl-box{
    top: 90%;
    left: 50%;
    margin-left: -10px;
    transform: rotate(-90deg);
        
    }
    
    .back-box-products{
        padding-bottom: 25px !important;
        padding: 0;
    }
  
    .title-banners {
      display: none;
    }
      .pages-baner-tt{
        display: block;
    }
    .back-box-of-ins{
        font-size: 14px;
    }
    .title-of-info-section{
        padding-bottom: 10px;
    }
    .archive-boxes{
        border-left: none;
    }
    .navbar-default .navbar-nav>li>a{
        color: white;
    }
    .navbar-header{
        display: inline-block;
    }
    .navbar-default .navbar-nav>li>a{
        padding: 0;
    }
    .icon-products{
        width: 100%;
    }
    .logo-header img{
        margin-top: -20px;
    }
  
/*
    .logo-header{
        background: url(img/logoss.png) 0 0 no-repeat;
    }
*/
    .inter-box span{
        display: none;
    }
    .inter-box {
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-top: 13px;
    }
    .phone-icon{
        padding: 11px;
    }
    .navbar-nav{
        padding-top: 10px;
    }
    .navbar-left {
    position: absolute;
    right: 50%;
    margin-right: -61px;
    top: 0px;
    font-size: 23px !important;
        margin-top: 10px;
}

 .navbar-nav>li>a:hover{
     color: white!important;
    }

    .navbar-default{
       background-color: #223874 !important;
    border: none;
}
    .navbar-right{
      margin-top: -10px !important;  
    margin-right: 0 !important;
    }
    .navbar-right li {
    direction: ltr;
    text-align: right;
    float: none;
    }
 .logo-title h3 {
    color: white;
 }
    .icons-xs-type{
        display: -webkit-box;
        text-align: center;
    }
    .icons-pages-2{
        margin: 0 9px;
        text-align: center;
    }
    .how-to-img img {
    top: 35px;
    right: 35px;
        width: 100%;
    }
    .pages-baner-tt{
            top: 125px;
    margin: 0 auto;
    text-align: center;
    }
    .ul-li{
        padding: 0;
    }
    .icons-info{
        float: right;
    }
    .menu > ul > li{
    display: inline-block;
    float: right;
    width: 100%;
    }
    .menu-mobile:after{
        display: none;
    }
    .menu-mobile{
      padding: 10px
    }
    .project-banner-tt h2{
        font-size: 25px;
    }
    .arrow-scrl-box-costumer {
    width: 150px;
    height: 150px;
    left: 50%;
    margin-left: -75px;
    top: 65%;
}
    .project-macbook-img img {
    direction: rtl;
    position: absolute;
    top: 65px!important;
    width: 73%;
    right: 54px !important;
}
    .img-owl-costumer img{
    top: 50px;
}
    .next-icon-4{
        right: 30px;
    }
    .previous-icon-4{
        left: 30px;
    }
     .next-icon-6{
        top: 120px!important;
    }
    .previous-icon-6{
        top: 120px!important;
    }
    .mobile-back-img img {
    width: 57% !important;
    text-align: center;
    margin: 0 auto;
}

}
@media only screen and (max-width:378px){
       .link-how-to{
        margin-top: -30px
    }
    .icons-pages-2 {
    margin: 0 3px;

    }
    .owl-carousel .owl-item img {
    width: 90%!important;
}
    .project-macbook-img img{
    right: 59px !important;
    top: 67px!important;
}
    .previous-icon-4{
        left:5px;
        top: -40px;
    }
      .next-icon-4{
        right:5px;
          top: -40px;
    }

}
@media only screen and (max-width:321px){
        .project-macbook-img img {
    right: 50px !important;
             
}   
    .call-us{
        padding: 10px 15px;
    }
}